<div class="container">
  <div class="card" style="width: 18rem">
    <img src="../assets/running3.webp" class="card-img-top" alt="..." />
    <div class="card-body">
      <h4>Running</h4>
      <p class="card-text">
        Both running and jogging are forms of aerobic exercise.Regular running
        or jogging offers many health benefits.
        <a
          href="https://www.betterhealth.vic.gov.au/health/healthyliving/running-and-jogging-health-benefits"
          ><p>Read More</p></a
        >
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="../assets/wk3.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h4>Strength Training</h4>
      <p class="card-text">
        Strength training can help you maintain a healthy weight, improve your
        cardiovascular health, and protect your joints from injury.
        <a
          href="https://www.webmd.com/fitness-exercise/ss/slideshow-start-strength-training"
          ><p>Read More</p></a
        >
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="../assets/yoga1.jpg" class="card-img-top" alt="..." />
    <h4>Yoga & Meditation</h4>
    <div class="card-body">
      <p class="card-text">
        Yoga's breathing and meditation techniques can help improve mental
        well-being, including mental clarity, calmness, and concentration.
        <a
          href="https://www.tpoftampa.com/yoga-and-meditation-benefits-and-differences/#:~:text=Yoga%20practice%20can%20also%20help,in%20reducing%20chronic%20pain%20issues."
          ><p>Read More</p></a
        >
      </p>
    </div>
  </div>
</div>
